.DivBlockCard{
    width: 287px;
    height: 220px;
    display: flex;
    justify-content: center;
    background: #FCFCFC;
    border-radius: 30px;
    cursor: pointer;
    margin: 0;
}

.ImgBlockCard{
    display: block;
    width: 60px;
}