.FormInput{
    display: block;
    width: 65%;
    background: #FCFCFC;
    border-radius: 30px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: rgba(49, 49, 49, 0.5);
    padding: 15px 25px;
    margin: 0 auto 5%;
}