.ArrowRigth{
    display: block;
    transform: rotate(0);
    margin-top: 100%;
}

.ArrowLeft{
    display: block;
    transform: rotate(180deg);
    margin-top: 100%;
}

.Dot{
    margin: 0 2.5px;
}

.ContainerArrow{
    display: flex;
}