.BlockCard{
    text-align: center;
    margin-top: 3%;
}

.BlockCardWrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.DivContent_Div_Title{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #313131;
        margin-bottom: 56px;
}

.BlockCardAdvantagesWrapper{
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px 125px
}

.BlockCardWrap{
    text-align: center;
}

.BlockCardDiv{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.DivPartners{
    margin: 7% 0;
    text-align: center;
}

.DivImages{
    width: 70%;
    margin: 0 auto;
}

.DivImage{
    margin: 0 2.5%;
}

.BlockVideoPlayer{
    text-align: center;
    margin: 5% auto;
}

.TitleVideoPlayer{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #313131;
}