.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.LinkLanding{
    margin-left: 12%;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCFCFC;
}

.Header{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc00;
  position: absolute;
  top: 0;
}

.RegHeader{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc00;
}

.BtnMenu{
  background-color: #FCFCFC;
}

.AntButton{
  background-color: #61dafb;
}

.PText{
  color: #313131;
  font-size: 13px;
  line-height: 18.2px;
  font-family: 'Ubuntu';
  font-weight: 300;
  display: block;
}

.Bunner{
  display: flex;
  justify-content: space-between;
  /*position: absolute;
  width: 100%;
  height: 983.46px;
  top: 5px;
  z-index: -10;*/
}

.Bunner_DivContent_Div{
  display: flex;
  padding-top: 15%;
}

.DivContent_Div{
  width: 70%;
  margin: 0 auto;
  padding-left: 30%;
}

.DivContent_Div_Wrapper{
  margin-bottom: 30px;
}

.ImgHouse{
  display: block;
}

.DivContent_Div_Title{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #313131;
  margin-bottom: 30px;
}

.BtnStyle{
  padding: 12px 55px;
  gap: 10px;
  border: none;
  background: linear-gradient(0deg, #E73C3C, #E73C3C), #FFFFFF;
  border-radius: 24px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #FCFCFC;
}

.BtnStyle:hover{
  background: linear-gradient(0deg, #c93434, #c93434), #FCFCFC;
}

.BtnStyle:active{
  background: linear-gradient(0deg, #8e2424, #8e2424), #FCFCFC;
}

.BtnStyleDis{
  padding: 12px 55px;
  gap: 10px;
  border: none;
  background: linear-gradient(0deg, #fb6f6f, #f25c5c), #FFFFFF;
  border-radius: 24px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #FCFCFC;
}

.WrapperBanner{
  width: 100%;
  height: 700px;
  z-index: -9900;
}

.Aaa{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 30px;
  color: #FCFCFC;
  background: #313131;
  border-radius: 10px 0px 10px 10px;
  cursor: pointer;
  padding: 5%;
}

.DropdownMenuWrapper{
  margin-right: 12%;
}

.DivDots{
  display: flex;
  justify-content: center;
}

.SlideList {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 645px;
}

.IFrameDiv{
  height: 98vh;
  width: 99.8%;
}

.BtnLinkWrap{
  width: 50%;
  display: flex;
  justify-content: space-around;
}