.Header{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc00;
  position: absolute;
  top: 0;
}

.AuthHeader{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC;
  position: absolute;
  top: 0;
}

.AuthHeaderLanding{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc00;
  position: absolute;
  top: 0;
}

.RegHeader{
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc00;
}

.BtnLinkWrap{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.DivUndisplay{
  width: 133px;
}