.PersonalDataDiv{
    display: flex;
}

#InputFirstName{
    width: 160px;
    margin: 0 15px 3% 0;
}

#InputSurName{
    width: 210px;
    margin: 0 15px 3% 0;
}

#InputPatronymic{
    width: 230px;
    margin: 0 15px 3% 0;
}

.ContactDataDiv{
    width: 50%;
}

#InputPhone{
    width: 100%;
    margin: 0 15px 3% 0;
}

.Select{
    width: 210px;
    background: #FCFCFC;
    border-radius: 30px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #313131;
    padding: 8px 100px 8px 19px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.Select:not([multiple]) {
    padding-right: 19px;
    background-repeat: no-repeat;
    background-position: calc(100% - 7%) 50%;
    background-size: 0.85em auto;
    background-image: url("../../../../assets/icons/icon-row-select.svg");
}

.Select::-ms-expand {
    display: none;
}

.Options{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #313131;
    background: #FCFCFC;
    width: 210px;
    padding: 15px;
    border-radius: 30px;
}

.FormContentAdditionally{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #FCFCFC;
    display: block;
}

.FileInput{
    visibility: hidden;
    display: none;
}

.InputFileWrapper{
    display: flex;
    justify-content: space-between;
}

.BtnInputFile{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #313131;
    background: #FCFCFC;
    border-radius: 30px;
    width: 155px;
    height: 32px;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
}

.BtnInputFileUpload{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #313131;
    background: #20BD57;
    border-radius: 30px;
    width: 155px;
    height: 32px;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
}

.BtnInputFile:focus{
    outline: none;
}

.BtnInputFileUpload:focus{
    outline: none;
}

.BtnInputFile:hover{
    background: #cecece;
}

.WrapstyleBtnLetterFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BtnSubmitWrap{
    display: flex;
    justify-content: end;
}

#CheckBoxWrap{
    margin: 0;
}

#FormDivWrapErrorPhone{
    width: 70%;
}

#FormDivWrapErrorEmail{
    width: 70%;
}

#FormDivWrapErrorUserAgreement{
    width: 85%;
}